DB_NAME=videojuegos
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5433

JWT_SECRET=cambia-este-secreto-por-uno-largo-y-aleatorio-en-produccion
JWT_EXPIRATION_MS=86400000

RAWG_API_KEY=tu-api-key-de-rawg-io

SERVER_PORT=8080
